<article class="card" [class.loading]="!isLoaded()" [style.transform]="transformStyle()"
  [style.transition-delay]="transitionDelay()" [style.grid-area]="!isLoaded() ? '1 / 1' : null"
  [style.justify-self]="!isLoaded() ? 'center' : null" [style.align-self]="!isLoaded() ? 'center' : null"
  [style.z-index]="zIndex()">
  <!-- Card Content Container -->
  <div class="card-content">

    <!-- Background blurred icon -->
    <div class="icon-background">
      <img [src]="imageUrl()" [alt]="title()" />
    </div>

    <!-- Foreground Icon -->
    <img [src]="imageUrl()" [alt]="title()" class="icon-foreground" />

    <!-- Title -->
    <h2 class="card-title">{{ title() }}</h2>

    <!-- Options Button -->
    <button aria-label="More options" class="options-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" />
      </svg>
    </button>
  </div>

  <!-- Frosted Glass Border Effect -->
  <div class="frosted-border"></div>
</article>