:host {
  /* Establish this component as a CSS container for cqi/cqh units to work */
  container-type: inline-size;
  display: block; /* Required for container-type to work reliably */
}

.icon-background {
  /* 
    Translate the background icon based on the --pointer-x/y variables.
    40cqi/40cqh means the icon moves 40% of the container's width/height
    when the pointer is at the edge.
  */
  translate: calc(var(--pointer-x, 0) * 40cqi) calc(var(--pointer-y, 0) * 40cqh);
}
