@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
}

:root {
  --icon-saturate: 5;
  --icon-brightness: 1.3;
  --icon-contrast: 1.4;
  --icon-scale: 3.4;
  --icon-opacity: 0.25;

  --border-width: 3px;
  --border-blur: 0px;
  --border-saturate: 4.2;
  --border-brightness: 2.5;
  --border-contrast: 2.5;
}

body {
  @apply m-0 min-h-screen w-full bg-black text-white overflow-x-hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Background grid pattern */
body::before {
    --size: 45px;
    --line: hsla(0, 0%, 100%, 0.07);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: 
      linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    left: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
